body {
    background-color: #151617;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.title {
    color: white;
    text-align: center;
    margin-top: 90px;
} 

.container {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 400px; /* Asegúrate de especificar unidades (px) */
    background: linear-gradient(90deg, #123252 0%, #1174ed 100%);
    border-radius: 15px;
    padding: 1.5rem;

    flex-direction: column; /* Apila los elementos verticalmente */
}

.imageContainer {
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.image {
    width: 48px;
    height: 48px;
}

.texto {
    color: white; /* Color de texto blanco */
    margin-bottom: 20px; /* Espacio inferior entre el texto y los botones */
}

.buttons button {
    border: 1px solid #fff;
    background: linear-gradient(90deg, #123252 0%, #1174ed 100%);
    transition: transform 0.3s ease;
    height: 45px;
    background-size: 150% 150%;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px; /* Espacio entre los botones */
}
